.joblist {
  padding-top: 56px;
}

.jobs-hero-background {
  height: 380px;
  width: 100%;
  background: #1fc76a;
  position: absolute;
  top: 0;
  z-index: -1;
  padding-top: 56px;
}

.jobs-hero-container {
  margin-top: 40px;
  color: #ffffff;
}

.jobs-hero-container .jobs-hero-header {
  font-family: 'Roboto Mono', 'Consolas', monospace;
  font-size: 32px;
  line-height: 1.5;
}

.job-search-card {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #ffffff;
  border-width: 0px;
  padding: 20px 30px;
  margin-top: 30px;
  position: relative;
  z-index: 1;
}

.job-search-card .job-search-header {
  font-family: 'Roboto Mono', 'Consolas', monospace;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
}

.job-search-card .job-search-bar-container {
  display: flex;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  position: relative;
  font-size: 16px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  z-index: 2;
}

.job-search-card .job-search-bar-container input {
  width: 100%;
  border-width: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
  height: 50px;
  font-weight: 600;
  padding-left: 15px;
  transition: 0.1s border;

  background-color: #f1f1f1;
}

.job-search-card .job-search-bar-container input:focus {
  outline: none;
  border: 1px solid #1fc76a;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

::placeholder,
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder {
  opacity: 0.3;
}

.job-search-card .job-search-bar-container .job-search-bar-button {
  background-color: #1fc76a;
  color: #ffffff;
  height: 50px;
  width: 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  z-index: 2;
}

.job-search-card .job-filter-tags-header {
  font-size: 14px;
  color: #838383;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.job-search-card .job-filter-tags-container {
  margin-bottom: 10px;
  margin-left: -5px;
  transition: opacity 0.2s;
}

.job-search-card .job-filter-tags-container .job-filter-tag {
  background-color: #ddf7e9;
  color: #1fc76a;
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  padding: 4px 10px;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 15px;
}

.job-search-card .job-filter-tags-container .job-filter-tag:hover {
  color: #ddf7e9;
  background-color: #1fc76a;
}

.job-search-card .job-filter-tags-container .job-filter-tag svg {
  box-sizing: unset;
  padding-right: 6px;
}

.job-count-container {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-count-container .job-sort-by-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.job-sort-by-container .select-container {
  position: relative;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  color: #838383;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  transition: all 100ms ease 0s;
}

.job-sort-by-container .select-container:focus {
  outline: none;
}

.job-list-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-bottom: 2rem;
}

.job-listing-card {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  height: 100%;
  background-color: #f8f8f8;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 1rem;
}

.job-listing-card .company-avatar {
  margin: auto;
  display: flex;
  justify-content: center;
}

.job-listing-card img {
  margin: auto;
  max-width: 100px;
  max-height: 100px;
  border-radius: 4px;
}

.job-listing-card-top-information {
  background-color: white;
  width: 100%;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.job-listing-card p {
  margin-bottom: 2px;
}

.job-listing-card .time-posted {
  opacity: 0.5;
  font-style: italic;
}

.job-listing-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.job-listing-card-top-information .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.specialisation-container {
  background-color: #ddf7e9;
  color: #1fc76a;
  font-weight: 600;
  border-radius: 5px;
  padding: 5px 8px;
}

.job-listing-card-bottom-information {
  background-color: #ffffff;
  padding: 12px 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-height: 54px;
  border-top: 1px solid rgb(218, 218, 218);
}

.tech-stack-container {
  background-color: #f1f1f1;
  color: #838383;
  font-family: 'Roboto Mono', 'Consolas', monospace;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 8px;
  display: inline-block;
  max-width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 0.2rem;
}

.Typist {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 7s steps(80, end), blink-caret 0.75s step-end infinite;
  position: relative;
}

.Typist .border {
  border-bottom: solid 3px #3a3a3a;
  position: absolute;
  right: 0px;
  width: 20px;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@media screen and (max-width: 576px) {
  .jobs-hero-container {
    margin-top: 20px;
  }

  .jobs-hero-container .jobs-hero-header {
    font-size: 28px;
    margin-bottom: 2px;
  }

  .job-search-card {
    margin-top: 20px;
  }

  .job-search-card .job-search-header {
    font-size: 14px;
  }

  .job-search-card .job-search-bar-container .react-autosuggest__container {
    font-size: 14px;
    margin-right: -42px;
  }

  .job-search-card
    .job-search-bar-container
    .react-autosuggest__container
    .react-autosuggest__input {
    height: 42px;
    margin-right: 42px;
  }

  .job-search-card .job-search-bar-container .job-search-bar-button {
    height: 44px;
    width: 44px;
  }
}

@media screen and (max-width: 768px) {
  .jobs-hero-container {
    margin-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .jobs-hero-container .jobs-hero-header {
    font-size: 30px;
  }

  .job-search-card {
    border-radius: 0;
    box-shadow: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media screen and (max-width: 1140px) {
  .jobs-hero-container {
    padding: 0px 20px;
  }
}
