* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #1fc76a;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

button,
input {
  overflow: visible;
}

body {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  border-color: #1fc76a;
}

.position-fixed {
  position: fixed;
}

.show-only-on-large {
  display: inherit;
}

.show-only-on-small {
  display: none;
}

.no-display {
  display: none;
}

.container-max-width {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card::after {
  clear: both;
  content: '';
  display: block;
}

.color-primary {
  color: #1fc76a;
}

.color-secondary {
  color: #ffe03c;
}

@media screen and (max-width: 768px) {
  .show-only-on-large {
    display: none;
  }

  .show-only-on-small {
    display: inline-block;
  }
}
