* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #1fc76a;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

body {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

position-fixed {
  position: fixed;
}

.show-only-on-large {
  display: inherit;
}

.show-only-on-small {
  display: none;
}

.no-display {
  display: none;
}

@media screen and (max-width: 768px) {
  .show-only-on-large {
    display: none;
  }

  .show-only-on-small {
    display: inline-block;
  }
}
